server: https://{{ control_plane_ip }}:9345
container-runtime-endpoint: {{ cri_socket }}
token: {{ node_token }}
controller-manager-arg: {{ controller_manager_arg }}
kube-apiserver-arg: {{ kube_apiserver_arg }}
kubelet-arg: {{ kubelet_arg }}
kube-proxy-arg: {{ kube_proxy_arg }}
kube-scheduler-arg: {{ kube_scheduler_arg }}
