---
kind: "CephFilesystemSubVolumeGroup"
api_family: "ceph.rook.io"
default_command: "cephfilesystemsubvolumegroups"
command:
  - "acephfssvgs"
  - "acephfssvg"
  - "cephsvgs"
  - "cephsvg"
listview:
  name: "Ceph Filesystem Subvolume Groups"
  group: "Storage & Backups"
  field_indexes:
    Wide:
      fields: ["namespace", "name", "filesystem_name", "subvolume_name",
               "data_pool_name", "pinning", "phase", "age"]
      sortcolumn: "namespace"
    Normal:
      fields: ["namespace", "name", "filesystem_name", "subvolume_name",
               "phase", "age"]
      sortcolumn: "namespace"
  fields:
    data_pool_name:
      header: "Data Pool:"
      path: "spec#dataPoolName"
      default: "<unset>"
      fallback_on_empty: true
      type: "str"
    filesystem_name:
      header: "Filesystem:"
      path: "spec#filesystemName"
      default: "<unset>"
      type: "str"
    phase:
      header: "Phase:"
      path: "status#phase"
      type: "str"
      formatter: "value_mapper"
      formatting:
        mapping:
          mappings:
            {%- for line in ceph_condition_type.split("\n") %}
            {{ line }}
            {%- endfor %}
    pinning:
      header: "Pinning:"
      paths:
        - path: "status#info#pinning"
          pathtype: "regex"
          regex: "^(.+?)=(.*)"
      formatter: "list"
      formatting:
        field_colors:
          - type: "key"
          - type: "value"
        field_separators:
          - type: "equals"
    subvolume_name:
      header: "Subvolume:"
      path: "spec#name"
      default: "<unset>"
      type: "str"
infoview:
  name: "Ceph Filesystem Subvolume Group Info"
  infopad:
    row_indexes:
      Normal:
        fields: ["filesystem_name", "subvolume_name", "data_pool_name",
                 "cluster_id", "pinning", "phase"]
    rows:
      cluster_id:
        header: [["Cluster ID:", ["main", "infoheader"]]]
        path: "status#info#clusterID"
        type: "str"
        formatter: "hex"
      data_pool_name:
        header: [["Data Pool Name:", ["main", "infoheader"]]]
        path: "spec#dataPoolName"
        default: "<unset>"
        fallback_on_empty: true
        type: "str"
      filesystem_name:
        header: [["F", ["main", "infoheader_shortcut"]],
                 ["ilesystem Name:", ["main", "infoheader"]]]
        path: "spec#filesystemName"
        default: "<unset>"
        type: "str"
      phase:
        header: [["Phase:", ["main", "infoheader"]]]
        path: "status#phase"
        type: "str"
        formatter: "value_mapper"
        formatting:
          mapping:
            mappings:
              {%- for line in ceph_condition_type.split("\n") %}
              {{ line }}
              {%- endfor %}
      pinning:
        header: [["Pinning:", ["main", "infoheader"]]]
        paths:
          - path: "status#info#pinning"
            pathtype: "regex"
            regex: "^(.+?)=(.*)"
        formatter: "list"
        formatting:
          field_colors:
            - type: "key"
            - type: "value"
          field_separators:
            - type: "equals"
      subvolume_name:
        header: [["Subvolume Name:", ["main", "infoheader"]]]
        path: "spec#name"
        default: "<unset>"
        type: "str"
  shortcuts:
    "Filesystem":
      key: "f"
      modifier: "shift"
      read_only: true
      helptext: "Open info page for Ceph Filesystem"
      action: "call"
      action_call: "resourceinfodispatch_with_lookup"
      action_args:
        _pass_obj: true
        kind: "CephFilesystem"
        api_family: "ceph.rook.io"
        name_path: "spec#filesystemName"
        namespace_path: "metadata#namespace"
