apiVersion: "{{ cluster_configuration_api_version }}"
kind: ClusterConfiguration
apiServer:
  extraArgs:
    feature-gates: "{{ api_server_feature_gates }}"
    runtime-config: "api/alpha={{ api_server_runtime_config_api_alpha_enabled }}"
clusterName: "{{ cluster_name }}"
controllerManager:
  extraArgs:
    feature-gates: "{{ controller_manager_feature_gates }}"
networking:
  podSubnet: "{{ pod_network_cidr }}"
scheduler:
  extraArgs:
    feature-gates: "{{ scheduler_feature_gates }}"
