apiVersion: "{{ join_configuration_api_version }}"
kind: JoinConfiguration
nodeRegistration:
  criSocket: "{{ cri_socket }}"
discovery:
  bootstrapToken:
    token: "{{ join_token }}"
    caCertHashes:
    - "sha256:{{ ca_cert_hash }}"
    apiServerEndpoint: "{{ control_plane_ip }}:{{ control_plane_port }}{{ control_plane_path }}"
