Acquire::https::Proxy::apt.kubernetes.io "{{ https_proxy }}";
Acquire::https::Proxy::packages.cloud.google.com "{{ https_proxy }}";
Acquire::https::Proxy::pkgs.k8s.io "{{ https_proxy }}";
Acquire::https::Proxy::prod-cdn.packages.k8s.io "{{ https_proxy }}";
