[security_netfilter]
name=All the firewall things (openSUSE_Leap_15.5)
enabled=1
autorefresh=0
baseurl=https://download.opensuse.org/repositories/security:/netfilter/openSUSE_Leap_15.5/
gpgcheck=1
gpgkey=https://download.opensuse.org/repositories/security:/netfilter/openSUSE_Leap_15.5/repodata/repomd.xml.key
