deb [signed-by=/etc/apt/keyrings/cri-o-keyring.gpg] https://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/stable/Debian_11/ /
deb [signed-by=/etc/apt/keyrings/cri-o-keyring.gpg] https://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/{{ crio_version }}/Debian_11/ /
