deb [signed-by=/usr/local/keyrings/cri-o-keyring.gpg] https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_11/ /
deb [signed-by=/usr/local/keyrings/cri-o-keyring.gpg] http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/{{ kubernetes_major_minor_version }}/Debian_11/ /
