{% for minor_version in minor_versions %}
[kubernetes.1.{{ minor_version }}]
name=Kubernetes 1.{{ minor_version }}
baseurl=https://pkgs.k8s.io/core:/stable:/v1.{{ minor_version }}/rpm/
enabled=1
gpgcheck=1
gpgkey=https://pkgs.k8s.io/core:/stable:/v1.{{ minor_version }}/rpm/repodata/repomd.xml.key
proxy={{ https_proxy }}
{% endfor %}
